<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>142161251507-hpl1qh5j1terpkvjvrmqnb8k3q4bbu0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142161251507-hpl1qh5j1terpkvjvrmqnb8k3q4bbu0q</string>
	<key>API_KEY</key>
	<string>AIzaSyArklt2jW9F7wasfDk0VW4Hbp4-XiWXBd0</string>
	<key>GCM_SENDER_ID</key>
	<string>142161251507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewhsingleton.Charitable</string>
	<key>PROJECT_ID</key>
	<string>charitable-ed508</string>
	<key>STORAGE_BUCKET</key>
	<string>charitable-ed508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:142161251507:ios:b51e36653867269d</string>
	<key>DATABASE_URL</key>
	<string>https://charitable-ed508.firebaseio.com</string>
</dict>
</plist>